<%- include('./header.ejs') %>
<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/yash.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 clubs_bg">
                <h3>Art</h3>
                <p class="clubs_p">ITM has a very unique & distinctive character of its campus and perceived by all as hub of creative expressions in special areas of paintings, sculptures, various classical & folk dance forms, Indian classical & popular music, western classical & rock music, world cinema, photography & theater. Students get to expose themselves with the best of Indian & International Artists, see their process of creation, interact & not only admire the final outcome but take special care for its upkeep & maintenance.</p>
                <img src="/images/artclub1.jpg" style="width:100%">
            </div>
            <div class="col-md-12 clubs_bg">
                <h3>Music</h3>
                <img src="/images/artclub2.jpg" style="width:100%">
                <p class="clubs_p"><b>The city of Gwalior and ITM Universe – a symbiosis</b><br>

                    “...the city boasts of a large number of educational institutions and ITM Universe is perhaps the largest among them. The sprawling campus invariably impresses any visitor. But to me more impressive is the fact that while this institution endeavors to impart world class education, it has also spent equal amount of effort, attention and care to preserve, propagate and advance further the rich musical traditions of Gwalior heritage.
                    
                    I happened to attend three of the musical feasts that the institution organizes every year and briefest I can say the whole experience was ‘sheer bliss’. The NAAD amphitheater surrounded by small hillocks, designed and set among the natural surroundings and fitted with high quality light and sound equipments, perhaps is the right place for any competent musician to perform and exhibit his talent. During the festivals that I attended from 2007 till 2010. I got, each time in three days the best of the Indian music that I could dream of. What it did not contain? The best of the singers Ustad Rahim Fahimuddin Khan Dagar, Pandit Ajay Pohankar, Pandit Chhannu Lal Mishra, Girija Devi, Ustaad Rashid Khan, Pt. Rajan & Sajan Mishra to name few. The best of the instrumentalists Ronu Mujumdar, Pandit D K Datar, Ustad Sultan Khan, Ustad Shujat Hussain Khan, Niladri Kumar, Pt. Shiv Kumar Sharma & Kala Ramnath where could I get all of them at one place, against no expenses and with all the facilities. The scene when it is dark all around open sky above, green around and the illuminated dias sends you back on the time machine 100 years or more. It really feels that you are back to the ancient times when music and life were synonymous.
                    
                    This made me have a glimpse into the wisdom, foresight and concern of the people behind this institution. It is not sufficient to train in science, engineering, management and the like, to make a complete human being that very essential input of art, culture, heritage is so much necessary. I wish other educational institutions could copy it...” (write Dr. Arvind Dubey a music lover of Gwalior).</p>
               
            </div>
            <div class="col-md-12 clubs_bg">
                <h3>Sports</h3>
                <p class="clubs_p">The institute hosted three RGPV Nodal Level Sports events – Cricket, Kho-Kho and Track and Fields in 2018-19.
                    Following students were selected for different sports events to represent RGPV Gwalior, Nodal at State Level Sports events.
                    </p>
                <img src="/images/artclub3.jpg" style="width:100%">
            </div>
            <div class="col-md-12 clubs_bg">
                <h4>Makers Lab</h4>
                <img src="/images/artclub4.jpg" style="width:100%">
                <p class="clubs_p">Welcome to the Makers Lab, an innovative hub at our esteemed Engineering Institute, where the realms of imagination and technology converge to shape the future. Our student club is a breeding ground for the extraordinary minds, the visionaries, and the creators who dare to push the boundaries of what is possible.</p>
                <img src="/images/artclub4_2.jpg" style="width:100%">
                <p class="clubs_p">Dedicated to the relentless pursuit of innovation, the Makers Lab serves as a platform for students passionate about the fascinating fields of drones, industrial robots, and humanoid robots. Here, we foster an environment that nurtures creativity, collaboration, and hands-on learning, empowering our members to turn their imaginative concepts into tangible realities.<br>
                    At the Makers Lab, we believe that the power of invention lies within each individual. Our goal is to provide a space that enables students to explore their technological passions, experiment with cutting-edge tools and technologies, and unleash their full potential. Whether you are an aspiring engineer, a tech enthusiast, or simply curious about the wonders of robotics, our club welcomes all who seek to embrace the spirit of innovation.</p>

            </div>
            <div class="col-md-12 clubs_bg">
                <h3>Film</h3>
                <p class="clubs_p">Film club not only shows good world cinema by organising international film festivals in the Campus but also inspires students to create films on the issues of their choices.

                    Following films were shown in ITM International Film Festival
                    <ul>
                    <li> Roshomon’ by Kurosawa (Japan),
                    <li> Hiroshima Mon Amour’ by Alain Resnais (France),
                    <li> The Mirror’ by Tarkovsky (Russia),
                    <li> Belle de Jour’ by Bunuel (Italy/France),
                    <li> Patherpanchali by Satyajit Ray (India),
                    <li> Wild Strawberries’ by Bergmen (Sweden),
                    <li> Amarcord’ by Fellini (Italy),
                    <li> La Strada’ by Fellini (Italy),
                    <li> One Flew Over The Cuckoo’s Nest’ by Forman (USA),
                    <li> Bhumika’ by Shyam Benegal (India).
                </ul>
            </p>
                <img src="/images/artclub5.jpg" style="width:100%">
            </div>

        </div>
    </div>



</body>
</html>

<%- include('./footer.ejs') %>