<!--Footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-white footerdiv ">
                <span class="footer-heading">Featured Links</span>
                <div class="bg-warning" style="width:70px; height:1px; margin-top: 20px; margin-bottom: 15px; margin-left: 12px;"></div>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="marker-shape">
                            <li><a href="http://localhost:4000/about">About Us</a></li>
                            <li><a href="http://localhost:4000/clubs"  style="margin-bottom: 30px;">Clubs</a></li>
                            
                            <div style="margin:0px; ">
                            <a href="https://www.facebook.com/ITMGOIGWALIOR/"><i class="fa-brands fa-facebook fa-2x" style="color:#106aff"></i></a>

                            <a href=""><i class="fa-brands fa-linkedin fa-2x"></i></a>

                            <a href="https://www.instagram.com/itm_gwalior/?hl=en"><i class="fa-brands fa-instagram fa-2x" style="color: #f00080;"></i></a>
                            </div>

                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="marker-shape">
                            <li><a href="http://localhost:4000/about">Home</a></li>
                            <li><a href="http://localhost:4000/about">About Us</a></li>
                            <li><a href="http://localhost:4000/clubs">Clubs</a></li>
                            <li><a href="http://localhost:4000/admission">Admission enquiry</a></li>
                        </ul>
                    </div>
                </div><!--row end-->
            </div>
            <div class="col-md-3 text-white footerdiv">
                <span class="footer-heading">For Admission</span>
                <div class="bg-warning" style="width:70px; height:1px; margin-top: 20px; margin-bottom: 15px; margin-left: 12px;"></div>    
                <ul class="marker-shape">
                    <li><a href="about.html">9988776655</a></li>
                    <li><a href="contact.html">9988776655</a></li>
                    <li><a href="about.html">9988776655</a></li>
                </ul>
            </div>

            <div class="col-md-3 text-white footerdiv">
                <span class="footer-heading">ITM Gwalior Address</span>
                <div class="bg-warning" style="width:70px; height:1px; margin-top: 20p  x; margin-bottom: 15px; margin-left: 12px;"></div>    
                <div style="margin-left: 10px;">
                    <i class="fa-solid fa-location-dot"></i>
                    <h6>ITM Campus,
                        Opp. Sithouli Railway Station,
                        NH-75 Sithouli, Jhansi Road,
                        Gwalior - 475001, ( M.P. ), INDIA</h6>
                    </div>
                   

            </div>
            <div class="col-md-3 text-white footerdiv">
                <span class="footer-heading">Ranking & Accreditation</span>
                <div class="bg-warning" style="width:70px; height:1px; margin-top: 20px; margin-bottom: 15px; margin-left: 12px;"></div>    
                <img src="https://www.itmgoi.in/assets/images/awads&ranking/NIRF-Logo-2023.webp.jpg" width="100%" class="mb-2">
                <img src="https://www.itmgoi.in/assets2/images/ariia_logo.jpg" width="100%">

            </div>


    </div>
</footer>
</body>

</html>