<%- include('./header.ejs') %>
<!-- the CSS is in the header file -->

    <div class="container-fluid">
        <div class="col-md-12">
            <img src="images\ARIIA_ITMRanking.jpg">
        </div>

    </div><!--container end-->

    <div class="container home_bg mb-5">
      <h2 class="mb-4" style="font-weight: 700;">ITM Gwalior : VISION, MISSION and VALUES</h2>
      <h4>Values</h4>
      <p style="display: block;">To develop the institute into a centre of excellence in education, research, training and consultancy to the extent that it becomes a significant player in the technical and overall development of the country. </p>

      <h4>Mission</h4>
      <p style="display: block;">
      <ul>
        <li>To meet the global need of competent and dedicated professionals.</li>
        <li>To undertake R & D, Consultancy & extension activities which are of relevance to the needs of the mankind.
        </li>
        <li>To serve the community by interaction on technical and other aspects of development.</li>
      </ul> </p>

      <h4>Values</h4>
      <p style="display: block;">
        <ul>
          <li>Humanity and ethics blended with sincerity, integrity and accountability.</li>
          <li>Productive delivery supported by healthy competition.</li>
          <li>Efficiency and dynamism coupled with sensitivity.</li>
          <li>To nurture innovation and ability to think differently with rational creativity.</li>
          <li>Appreciation of sustainable socio-cultural values and to feel proud to be a good professional contributing to the betterment of mankind and mother earth.</li>
        </ul> </p>

      



    </div>



    <%- include('./footer.ejs') %>